absl-py==2.0.0
aco==0.2.3
altair==4.2.0
ant-colony==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.2.0
blinker==1.4
cachetools==5.1.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
chex==0.1.88
click==8.0.4
colorama==0.4.4
cycler==0.11.0
deap==1.4.1
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.11.0
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.12.4
Flask==2.1.2
flatbuffers==23.5.26
flax==0.10.2
fonttools==4.28.3
format-currency==0.0.10
fsspec==2023.9.2
gast==0.5.4
gensim==4.3.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
google-play-scraper==1.2.7
grpcio==1.60.0
gurobipy==10.0.3
h5py==3.10.0
huggingface-hub==0.17.2
idna==3.3
igraph==0.11.5
importlib-metadata==4.11.4
importlib_resources==6.4.5
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jax==0.4.34
jaxlib==0.4.34
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.15.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==16.0.6
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
ml-dtypes==0.3.2
msgpack==1.1.0
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.3
nltk==3.9.1
notebook==6.4.11
numpy==1.26.0
oauthlib==3.2.2
openpyxl==3.0.9
opt-einsum==3.3.0
optax==0.2.4
orbax-checkpoint==0.4.4
packaging==23.2
paho-mqtt==1.6.1
pandas==2.2.3
pandocfilters==1.5.0
pants==1.0.1
parso==0.8.3
pickleshare==0.7.5
pillow==11.0.0
platformdirs==4.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.3
psutil==5.9.1
PuLP==2.7.0
pure-eval==0.2.2
pyants==0.3.0
pyarrow==8.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydeck==0.9.1
pygame==2.1.0
Pygments==2.18.0
pymp-pypi==0.5.0
Pympler==1.0.1
pyparsing==3.0.6
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==304
pywinpty==2.0.5
PyYAML==6.0.1
pyzmq==23.0.0
regex==2024.11.6
requests==2.27.1
requests-oauthlib==1.3.1
rich==13.9.4
rsa==4.9
Sastrawi==1.0.1
scikit-learn==1.3.1
scipy==1.11.2
seaborn==0.13.1
semver==2.13.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post9
smart-open==7.0.5
smmap==5.0.0
soupsieve==2.3.2.post1
stack-data==0.2.0
stopit==1.1.2
streamlit==1.39.0
tenacity==9.0.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-intel==2.15.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflowjs==4.21.0
tensorstore==0.1.45
termcolor==2.4.0
terminado==0.15.0
texttable==1.7.0
tf_keras==2.15.1
threadpoolctl==3.2.0
tinycss2==1.1.1
tk==0.1.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
TPOT==0.12.1
tqdm==4.66.1
traitlets==5.2.1.post0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==4.2
update-checker==0.18.0
urllib3==1.26.9
validators==0.19.0
virtualenv==20.24.7
watchdog==2.1.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.6.0
word2vec==0.11.1
wordcloud==1.9.4
wrapt==1.14.1
wurlitzer==3.1.1
xgboost==2.0.3
zipp==3.8.0